.sidebarOption {
    display: flex;
    flex-direction: row;
    color: #b3b3b3;
    cursor: pointer;
    align-items: center;
    transition: 200ms color ease-in;
    margin-bottom: 12px;

    min-height: 24px;
    // overflow: hidden;

    &__icon {
        padding-left: 10px;
        padding-right: 10px;
    }
    h4{
        text-decoration: none;
    }
}
.sidebarOption:hover {
    color: white;
}
