.body {
    padding: 30px;
    width: 100%;
    margin-bottom: 100px;
    overflow-y: scroll;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(91, 87, 115);

    &__info {
        display: flex;
        align-items: flex-end;
        padding: 10px;

        img {
            // contain: ;
            height: 18vw;
            margin: 0 20px;
            box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
        }
    }
    &__infoText {
        h2 {
            font-size: 48px;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
    }
    &__shuffle {
        font-size: 60px !important;
        margin: 20px;
    }
    &__favorite{
        margin-right: 20px;
    }
}
